
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
            <h4><span class="glyphicon glyphicon-plus"></span> NEW EVIDENCE SOURCE</h4>
        </div>
    
        <div class="modal-body" style="padding:40px 50px;">
            <%= render 'bs_form' %>
        </div>
    </div>
</div>
